<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>start</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="GiftList">

    <div class="main" ng-controller="ListController as list">
      <h1>Playing with Angular</h1>
        <!-- "as list" specifies an alias for the controller-->
    <section class="tab" ng-controller="TabController as tab">
      <ul>
        <li ng-class="{active: tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Gift List</a></li>
        <li ng-class="{active: tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Add</a></li>
      </ul>
      <div ng-show="tab.isSet(1)">
        <p ng-repeat="person in list.persons">{{person.name}} is {{person.age}}. They like {{person.likes}} and want {{person.gift}}.
      </div>
      <div ng-controller="AddController as add" ng-show="tab.isSet(2)">
        <p>Add here</p>
      </div>
    </section>
  </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/controllers/other-controller.js"></script>
        <script src="scripts/controllers/list-controller.js"></script>

        <!-- endbuild -->
</body>
</html>
