<div class="update">
<h2 ng-include="'gifted.name.html'"</h2>
<p>Age: {{ gifted.age }}</p>
<p>Gift: {{ gifted.gift }}</p>

<form ng-submit="updatePerson()">
<br />

  <input ng-model="gifted.name" ng-change="change()"  type="text" placeholder={{gifted.name}} /><br /><br />

  <input ng-model="gifted.age" ng-change="change()" type="text" placeholder={{gifted.age}} /><br /><br />

  <textarea ng-model="gifted.gift" ng-change="change()">{{gifted.gift}}</textarea><br /><br />

  <button>Update Info</button>

</form>
</div>
